#main-grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    width: 80%;
    aspect-ratio: 1/1;
    margin: auto;
}

.cell {
    background-color: rgba(255,0,0,0.3);
    border: 1px green solid;
}

.road {
    background-color: darkgrey;
}
.grass {
    background-color: greenyellow;
}
.water {
    background-color: aqua;
}