#main-grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    width: 80%;
    aspect-ratio: 1/1;
    margin: auto;
}
#main-header ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}
#main-header ul li {
    width: 50px;
    height: 50px;

}
#main-header ul li button {
    width: 100%;
    height: 100%;
}

.cell {
    background-color: rgba(255,0,0,0.3);
    border: 1px green solid;
}

.road {
    background-color: darkgrey;
}
.grass {
    background-color: greenyellow;
}
.water {
    background-color: aqua;
}