#main-grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    width: 80%;
    aspect-ratio: 1/1;
    margin: auto;
}
#main-header ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

#main-header ul li button {
    width: 100%;
    height: 100%;
}

.cell {
    border: 1px grey solid;
    position: relative;
    width: 100%;
    height: 100%;
}

.cell > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.terrain { 
    z-index: 1; 
}

.track { 
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

.terrain.grass {
    background-color: greenyellow;
}
.terrain.water {
    background-color: aqua;
}
.terrain.sand {
    background-color: yellow;
}

/* Junctions */
.track.junction-3-D { background-image: url('sprites/junction-3-D.png'); }
.track.junction-3-L { background-image: url('sprites/junction-3-L.png'); }
.track.junction-3-R { background-image: url('sprites/junction-3-R.png'); }
.track.junction-3-U { background-image: url('sprites/junction-3-U.png'); }
.track.junction-4   { background-image: url('sprites/junction-4.png'); }

/* Straight tracks */
.track.straight-LR { background-image: url('sprites/straight-LR.png'); }
.track.straight-UD { background-image: url('sprites/straight-UD.png'); }

/* Turns */
.track.turn-LD { background-image: url('sprites/turn-LD.png'); }
.track.turn-LU { background-image: url('sprites/turn-LU.png'); }
.track.turn-RD { background-image: url('sprites/turn-RD.png'); }
.track.turn-RU { background-image: url('sprites/turn-RU.png'); }

/* tady je to important opravdu potřeba */
.hidden {
    display: none !important;
}

/*
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/

.menu {
  text-align: center;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: #333;
  color: white;
  border: 1px solid #555;
}

button:hover {
  background: #555;
}

.hidden {
  display: none;
}

#load-panel {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #555;
}